/* Copyright 2002-2013, University of Colorado */

/* Put sim-specific CSS in this file. */

#example-sim-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.control-panel {
  position: absolute;
  right: 0;
  top: 100;
  background: rgb(255, 255, 153);
  margin: 1%;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 8px;
}

.v-button {
  margin-top: 10px;
  width: 100%;
  display: block;
  font-family: Arial;
  font-size: 10em;
  font-weight: bold;
}

.reset-all-button {
  margin-top: 10px;
}

.scene {
  position: absolute;
  background: #000000;
}