[submodule "common/phetcommon"]
	path = common/phetcommon
	url = https://github.com/phetsims/phetcommon.git
[submodule "common/easel-phet"]
	path = common/easel-phet
	url = https://github.com/phetsims/easel-phet.git
