<!-- Copyright 2002-2013, University of Colorado -->

<!-- Control panel template, placeholders to be filled in with internationalized strings using tpl. -->

<div class="control-panel">
    <div class="btn-group btn-group-vertical">
        <button class="btn v-button" id="showPerformanceMonitorCheckBox">
            <p>
                <i class="icon-check-empty" style="float:left; margin-right: 5px; font-size: larger;"/>
                <%= showPerformanceMonitor %>
            </p>
        </button>
        <button class="btn v-button" id="flipPolarityButton">
            <p>
                <%= flipPolarity %>
            </p>
        </button>
    </div>
    <div style="text-align: center">
        <button class="btn btn-warning reset-all-button" id="resetAllButton">
            <i class="icon-refresh icon-2x"/>
        </button>
    </div>
</div>
