<!-- Copyright 2002-2013, University of Colorado -->

<!-- Control panel template, placeholders to be filled in with internationalized strings using tpl. -->
<div class="control-panel">

    <!-- Use a separate label so that clicking on the label fires the check box. -->
    <label class=control-panel-label><input type="checkbox" name="ShowFrameRateCheckBox" value="showFrameRate" /><%= showFrameRate %></label>

    <!-- Flip Polarity button -->
    <button type="button" class=cp-button id="flipPolarityButton"><%= flipPolarity %></button>
    <br/>

    <!-- Reset All button -->
    <button type="button" class=cp-button id="resetAllButton"><%= resetAll %></button>
</div>

